.Meal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.SearchResults .Meal {
  min-width: 250px;
  max-width: 500px;
}

.Schedule .Meal {
  min-width: 100px;
  max-width: 250px;
}

/* to make Schedule cards the same height if not hovering */
.Schedule .card-body {
  min-height: 150px;
}

.Meal:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

span {
  font-style: italic;
}

/* crop card images to make them all the same height */
.card-img {
  object-fit: cover;
  height: 200px;
}
